$font-stack: 'Lato', sans-serif;
$bg-color: white;
$text-color: black;
$bwtoTopGradient: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(229,229,229,0) 100%);
$bwtoTopGradient-moz:-moz-linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(229,229,229,0) 100%);
$bwtoTopGradient-webkit:-webkit-linear-gradient(t0 top, rgba(0,0,0,1) 0%,rgba(229,229,229,0) 100%); 