 @import "animations";
 $font-stack:    'Lato', sans-serif;
$primary-color: #333;
$secondary-color: #E1888A;
$third-color: #4ABFCB;
$button-secondary-border-color:#9E6063;
$primary-bg: rgba(74,191,203,0.6);
$secondary-bg: url("../img/874-goofy-food-blue-iphone-wallpaper copy 2.png");
$third-bg: url("../img/bg-2-2.png");




/*/////////*/
body{
  background: #fff;
  /*background: $secondary-bg;*/
  background-repeat: repeat;
  background-size: contain;
  height: 100vh;
  font-family: $font-stack;

}


/*// LOG IN ////////////////////////*/


/*/////places div*/
/*------------------------------------*/
.container-fluid{
  height:100%;
  /*border: 1px dotted blue;*/
  
}
#middle{
  position: relative;
  /*border: 5px solid black;*/
  margin: 15;
  height: 100%;
}
.parentMapDiv{
    /*border: 2px dotted red;*/
  width:90%;
  height:100%;
  padding:0;
  position:absolute;

}
#map{
  /*border: 2px dotted blue;*/
  width:100%;
  height:100%;
 position:absolute;
}
button{
  outline: none !important;
  box-shadow:0;
}
button:hover{
   outline: 0 !important;
   box-shadow:none;
}
button:focus{
   outline: 0 !important;
   box-shadow:none;
}



/*.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: 0 !important;
    box-shadow:none;
}*/

/*///////////////////////////// login////////////*/

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: $font-stack, sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: $font-stack, sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
/*body {
  background: #76b852; 
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: $font-stack, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}*/

/*//// ///////////// /// side panel /////// */
#sidePanel{
  /*border: 2px solid black;*/
  /*position: absolute; */
  overflow-x:hidden;
  overflow-y: scroll;
  float:right;
  height: 100%;
  max-height: 840px;
  width: 450px;
  margin-top:10;

}
.foodInArea{
  text-align: right;
}
.placesContentDiv{
  border: 1px solid blue;
}
.placeList{
  background-color:#eee;
  color:black;
  /*border: 1px solid red;*/
  height:150px;
  width:415px;
  margin-top:10;
  top: 75;
  margin-left: 5;
  -webkit-box-shadow: -1px 7px 12px 0px rgba(165, 160, 160, 0.75);
-moz-box-shadow: -1px 7px 12px 0px rgba(165, 160, 160, 0.75);
box-shadow: -1px 7px 12px 0px rgba(165, 160, 160, 0.75);
}
.instructions{
  /*border: 1px solid red;*/
  font-weight: 300;
  padding:0;
  height: 30px;
  background: rgba(77, 164, 243, 0.45);
}
.instructions p{
  text-align: right;
  padding-right: 15;

}
.dontMove{
  position:fixed;
  z-index: 1;
  width: 420px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.38);
}
.shuffleBtn{
  border-radius: 50%;
  border:none;
  position: relative;
  z-index: 1;
  height: 90px;
  width: 90px;
  top: -80;
  left: -20;
  color: white;
  font-size: 22px;
  font-weight: 900;
  text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
  /*background-color: #C0C0C0;*/
}
.shuffleBtn:hover{
  box-shadow: 0px 1px 3px #666666;
  font-size:24px;
  color:white;
}
.placesNameDiv{
  /*border: 1px solid blue;*/
  padding:0;
}
.detailName{
  padding:0;
  max-height: 35px;
    overflow: hidden;
}
.detailName h3{
 /*  border: 1px solid black;*/
 margin: 5 0 0 5; 
}
.detailRating{
   padding: 0;
   background-color: #C0E8E8;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    left: 16;
    top: -6;
}
.detailRating h5{
/*  border: 1px solid black;
*/   line-height: .5;
    text-align: center;

}

.placesDetailsDiv{
  /*border: 1px solid red;*/
}
.formattedDiv{
/*  border: 1px solid black;
*/  padding:0;
    margin-top: 5;
    border-top: 1px solid #DEDEDE;
    font-size:13px;
    max-height: 60px;
    overflow: hidden;

}
 a{
  text-decoration: none !important;
  color: #7DA7CD;
}

.detailAddress{
  /*border: 1px solid red;*/
  margin:0;

}
.detailNumber{
    /*border: 1px solid blue;*/
    margin:0;
    padding:0;
}
.detailWebsite{
  /*  border: 1px solid black;
*/    margin:0;
    padding:0;
}
.reviewDiv{
  /*border: 1px solid black;*/
  height: 65px;
  padding: 0;
  border-top: 1px solid #DEDEDE;
  overflow: scroll;
    padding: 0 5;
}
.detailOpen{

}
.glyphicon{
  color:rgba(179, 169, 185, 0.77);
  top:2;
}
.glyphicon-comment{
      position: absolute;
    font-size: 35;
    opacity: .4;
    top: 25;
    right: 5;
}


.colorChange{
  animation: color_change 1s infinite alternate;
}


.removeAni {
    transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    overflow: hidden;
    max-height: 0;
    background: #eee;
    /*margin: 0 10px;*/
    /*padding: 0 10px;*/
    /*animation: color_change 1s infinite alternate;*/
    &.show {
        max-height:150px;
        width: 100%;        
        /*margin: 10px;        
        padding: 10px;*/        
    }
}

.footer{
  position: absolute;
}

/*.firstOh{
//border: 1px solid black;
height: 100%;
}
.secondOh{
//border: 1px dotted pink;
height: 100%;
min-height: 1500px;
width: 75%;
margin-left:12.5%;
background-color: rgba(74, 191, 203,0.98);
-webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
-moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);

}

.optionsCol{
  margin-top: 0;
 //border: 5px dotted black;
  height: 100%; 
  max-height: 180px;
  width: 100%;
  padding-right:0;
  padding-left: 0;
  //max-width: 485px;
}
.uPickBtn{
  line-height: 1 !important;
  font-size: 100px !important;
}
.ohBtns{
 // border: 1px dotted red;
 height: 100%; 
 width: 100%;
 border-radius:0;
 max-height: 160px;
  //max-width:160px;
   text-align: center; 
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  line-height: 160px !important;
  background-color: $secondary-color;
  border-color: $button-secondary-border-color;
}

.placesDiv{
  //border: 2px dotted black;
  height: 85%;
  max-height:450px;
  min-height: 360px;
  padding: 0;
  margin-top: 25px;
}
.placesRowMargin{
  margin: 0;
}
.objDiv{
 // border: 2px dotted green;
  height: 100%;
  margin-top: 10px;
  //max-width: 485;
  //padding-left:0;
}
.placeObjDiv{
  //border: 2px dotted red;
  background-color: #eee;
  height: 240px;
  margin: 10px 0px 10px 0;
  padding:0;
   -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  position: relative;
}
.mapDiv{
    //border: 2px dotted black;
   height: 100%;
   width: 100%;
   max-height: 180px;
   padding: 0;
  //max-width: 485px;
  //padding-right: 0;
  margin-top: 5px;
}
#map-canvas { 
  //border: 2px dotted yellow;
  //margin-top: 5%;
  height: 100% ;
  width:100%;
  padding: 0;
  //max-height: 300px;
  //max-width: 485px;
 // -webkit-box-shadow: -1px 2px 15px 0px rgba(221,221,221,1);
  // -moz-box-shadow: -1px 2px 15px 0px rgba(221,221,221,1);
  // box-shadow: -1px 2px 15px 0px rgba(221,221,221,1);
}
.placesDataRow{
 // border: 1px dotted black;
  height: 100%;
  margin: 0;
}
.placesContentDiv{
  //border: 2px dotted blue;
  height:100%;
  //max-width: 485px;
}
.placesDetailsDiv{
  display: none;
}

.placesNameDiv{
  //border: 1px dotted blue;
  height: 100%;
  width: 100%;
  max-height: 200px;
  max-width: 300px;
  min-height:90px;
  padding: 5px;
}
.detailName{
  //border: 1px dotted red;
  height:100%;
  width:100%;
  margin-top: 10px;
  overflow-wrap: break-word;
}
.detailAddress{
  //border: 1px dotted yellow;
  font-size: 11px;
}
.detailNumber{
 font-size: 11px;
  //border: 1px dotted pink;
}
.detailWebsite{
  //border: 1px dotted green;
  font-size: 11px;
  overflow-wrap: break-word;
}

.placesRatingDiv{
  //border: 1px dotted green;
  height: 25%;
  padding:0;
}
.placesVicinityDiv{
  //border: 1px dotted yellow;
  height: 25%;
}
.large{
  width: 150px;
  height: 200px;
}

// ///animate div size ex
// .css-class-add, .css-class-remove {
//   -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
//   -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
//   -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
//   transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
// }

// .css-class,
// .css-class-add.css-class-add-active {
//   height:240px;
//   width: 100%;
//   position: relative;
//   z-index: 1;
//   transition-delay: 1s;
// }

// .css-class-remove.css-class-remove-active {
//   font-size:1.0em;
//   color:black;
// }


// /// show hidden details
// .hidden:hover {
//   transition-delay: 1s;
// }
*/









