
  <div  class= "col-lg-12 col-md-12 col-sm-12 col-xs-12 first videobg" >
    <video autoplay loop muted class="videobg_fullscreen">
      <source src="../img/central.mp4" type="video/mp4">
    </video>
    <div class="row">
      <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12 uPickDiv fade-in one " 
          data-0="opacity:1;transform:translateY(0%) scale(1)" 
          data-200="opacity:0;transform:translateY(-15%) scale(0.9)">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 appName">
          <h1 data-fittext>uPick</h1>
        </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 subTitle fade-in three">
            <a class="slideLeft" href="#main" data-fittext=".8" data-fittext-min="20" data-fittext-max="50"> a restaurant locator </a>
        </div><!--subTitle -->
      </div> <!--uPickDiv -->
    </div> <!--row -->
  </div><!--first -->
