<div class="container-fluid">
    <!-- Map and Side Panel -->
    <div id="middle" class="row content">
        
        <!-- Google Map -->
        <div class="col-md-12 parentMapDiv">
            <div id="map"></div>
        </div>
            
            <side-panel><side-panel>
    </div>
  
    <!-- Footer -->
    <!-- <div class="footer">
        <p class="text-center"><span class="glyphicon glyphicon-check"></span> Created by Juan Rodriguez -
            <a href="https://www.juanrod.co/">www.juanrod.co</a> | <a href="https://github.com/juan-rod">Github</a></p>-->
    </div> 
</div>